* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: var(--font-poppins) !important;
}

:root {
  --bg-color: #243642;
  --color: #387478;
  --hover: #629584;
  --outline: #E2F1E7;
}

.bg-Color {
  background-color: var(--bg-color) !important;
  color: var(--outline) !important;
}

.logo-border {
  color: var(--outline) !important;
  width: 10;
  height: 10;
  background-color: var(--color);
  font-weight: 700;
  padding: 5px !important;
  border-radius: 50%;
}

.color {
  color: #fff !important;
  transition: 0.3s ease-in;
  font-size: 19px !important;
}

.color:hover {
  color: var(--bg-color) !important;
}

.text_bg {
  background-color: var(--bg-color);
  border-radius: 5px;
  color: var(--outline);
  width: 50%;
  margin-top: 10px;
  padding: 0px 10px;
  letter-spacing: 2px;
}

.button-varient {
  width: 100px;
  height: 35px;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--outline);
  border-radius: 50px;
  border: none;
  text-decoration: none;
  outline: none;
  padding: 5px;
  transition: 0.3s linear;
}

.button-varient:hover {
  border: 1px solid var(--color);
  background-color: transparent;
  color: var(--bg-color);
}

.rating{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}
.genre-style{
  height: 30px;
  border-radius: 50px;
  line-height: 30px;
  background-color: var(--outline);
  color: var(--color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
}

.backImage_style{
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}
.backImage_style:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}